* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color:white;
  height: 100vh;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center ;
font-family: Lato, sans-serif;
}

body{
    background-color: rgb(12, 12, 31);
}


.logo-container {
margin-bottom: 1em;}

.app-container {
  background-color: rgb(207, 207, 207);
  width: 60vw;
  min-height: 60vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.app-container .app-title {
  font-weight: bold;
    font-size: 1.5em;
    color: rgb(12, 12, 31);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-form {
  display: flex;
  align-items: center;
}

.task-form button {
  border: 0;
  padding: 5px 10px;
  background: none;
  font-size: 2em;
  cursor: pointer;
}

.task-form input {
  all: unset;
  height: 2em;
  padding: 5px 25px;
  background-color: rgb(12, 12, 31);
  color: white;
  border: 0;
  border-radius: 10px;
}

.task-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

.task-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  background-color: rgb(12, 12, 31);
  width: 90%;
  padding: 1em;
  border-radius: 15px;
  cursor: pointer;
}

.completed-task {
  text-decoration: line-through;
  color: rgb(207, 207, 207);
}

.close-icon {
  cursor: pointer;
  font-size: large;
}

.footer {
  margin-top: 1em;
  font-size: smaller;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.footer a {
  color: white;
  text-decoration: none;
}
